<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChronoSoftNet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChronoSoftNet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ChronoSoftNet.My.MySettings.ChrItaEst_UnoEConnectionString" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ChrItaEst_UnoE;User ID=Admin" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ChronoSoftNet.My.MySettings>
            <setting name="ServidorLocal" serializeAs="String">
                <value>LOCALHOST\SQLEXPRESS</value>
            </setting>
            <setting name="ServidorSQL" serializeAs="String">
                <value>172.17.0.241\SQLEXPRESS</value>
            </setting>
            <setting name="NomDB" serializeAs="String">
                <value>CHRITAP1GIR</value>
            </setting>
            <setting name="TIPOSERVER" serializeAs="String">
                <value>SQLSERVER</value>
            </setting>
        </ChronoSoftNet.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><applicationSettings>
        <ChronoSoftNet.My.MySettings>
            <setting name="ChronoSoftNet_wsCentralbascula_Central" serializeAs="String">
                <value>http://172.31.79.161:8001/Central.svc</value>
            </setting>
        </ChronoSoftNet.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSUNOEESoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.36/WSUNOEE/WSUNOEE.asmx" binding="basicHttpBinding" bindingConfiguration="WSUNOEESoap" contract="Italcol_WS.WSUNOEESoap" name="WSUNOEESoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
